* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    font-family: "Oswald", sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    line-height: 0.9;
  }
  
  .header {
    padding: 2rem;
  }
  .header h1 {
    margin-top: 150px;
    margin-bottom: 3rem;
    font-size: 10vw;
    color: #00FFFC;
  }
  
  .header h2 {
    margin-bottom: 2.5rem;
    font-size: 8vw;
    color: #fff;
    text-decoration: underline;
  }
  .header p {
    padding-bottom: 2rem;
    font-weight: 200;
    font-size: 1.5rem;
    color: #FFF;
  }
  .header hr {
    transform-origin: top left;
  }
  .header .heading-line-wrapper {
    overflow: hidden;
  }
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
    width: 100%;
    min-height: 100vh;
  }
  
  .image-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
    border-radius: 0;
    transition: border-radius 0.75s cubic-bezier(0.65, 0, 0.35, 1);
    overflow: hidden;
    cursor: pointer;
  }
  .image-card.image-portrait {
    margin-left: 10vw;
    width: 30vw;
    height: 40vw;
  }
  .image-card.image-landscape {
    margin-left: 10vw;
    width: 40vw;
    height: 30vw;
  }
  .image-card:hover {
    border-radius: 15rem;
  }
  .image-card:hover .image-header {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  .image-card .image-header,
  .image-card .image-caption {
    color: #FFF;
  }
  .image-card .image-header {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    font-size: 8vw;
    color: #FFF;
    text-transform: uppercase;
    line-height: 1;
    opacity: 0;
    transition: all 0.85s cubic-bezier(0.65, 0, 0.35, 1);
    pointer-events: none;
  }
  .image-card img {
    display: block;
    width: 150%;
    object-fit: cover;
  }

  
/* -- YouTube Link Styles -- */

#source-link {
    top: 60px;
  }
  
  #source-link > i {
    color: rgb(94, 106, 210);
  }
  
  #yt-link {  
    top: 10px;
  }
  
  #yt-link > i {
    color: rgb(219, 31, 106); 
  
  }
  
  .meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0px 20px 20px rgba(23, 128, 151, 0.1);
    box-shadow: 0 0 5px  #00FFFC;;
    cursor: pointer;  
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 600ms, border-color 600ms;
    z-index: 10000;
  }
  
  .meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
  }
  
  .meta-link > span {
    color: white;
    font-family: "Rubik", sans-serif;
    transition: color 600ms;
  }