body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Helvetica;
  }
  
  .card {
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 40px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.8), 0px 8px 20px rgba(0, 0, 0, .6);
  }
  
  .card::after {
    content: '';
    position: absolute;
    top: -300px;
    right: -300px;
    bottom: -300px;
    left: -300px;
    background: conic-gradient(from 180deg at 50% 50%, #12001B -97.5deg, #000000 14.05deg, #040EFF 54.01deg, #8000FF 113.42deg, #00B6B6 185.62deg, #12001B 262.5deg, #000000 374.05deg);
  filter: blur(60px) brightness(1.5);
    z-index: -1;
    animation: 10s move linear infinite;
  }
  
          h2 {
            margin: 0;
            padding: 0;
            font-size: 60px;
            letter-spacing: -1px;
            color: #fff;
            text-shadow: 0px 2px
            4px rgba(0, 0, 0, .3);
          }
  
  span {
    font-size: 35px;
    font-weight: normal;
    display: block;
  }
  
  .card > div {
    padding: 20px 40px;
    font-size: 26px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-color:
    rgba(0, 0, 0, 0.5);
  }
  
    @keyframes move {
    from {
      transform:
       rotate(180deg);
    }
    to {
      transform:
       rotate(540deg);
    }
    }